.holder {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    max-width: 800px;
}
.help-tool-tip {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    vertical-align: 25%;
    font-size: smaller;
}
.help-tool-tip:hover {
    color: #888;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}